body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
   color: blue;
}

h2 {
    color: #d12222;
    margin-top: 80px;
}

h3 {
    color: #3c50aa;
}

input, button {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
    font-size: 16px;
    background-color: rgb(255, 255, 255);
    color: rgb(6, 1, 1);
}

button {
    cursor: pointer;
    background-color: rgb(57, 107, 107);
    color: azure;
    width: 50px;
    box-shadow: 2px 3px 8px black;
}

p {
    margin-top: 10px;
    color: rgb(110, 153, 0);
    font-weight: bold;
}

.score {
    margin-top: 20px;
}


.last{

    margin-top: 300px;
    margin-bottom: 20px; 
    text-align: center;   
    opacity: 0.8;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(99, 93, 99);
    
}